body {
  box-sizing: border-box;
}
.container {
  width: 500px;
  height: 500px;
  border: 2px solid black;
  background-image: url("./images/wan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  animation: hey 10s linear 100ms infinite alternate both;
}

@keyframes hey {
  0% {
    background-image: url("./images/two.jpg");
  }
  35% {
    background-image: url("./images/sre.jpg");
    animation-delay: 3s;
  }
  70% {
    background-image: url("./images/for.jpg");
  }
  100% {
    background-image: url("./images/fajv.jpg");
  }
}
