.subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.111;
  color: aqua;
  margin-bottom: 20px;
  display: flex;
  align-items: center;

  &::before {
    content: '';
    display: inline-block;
    width: 30px;
    height: 1px;
    background-color: grey;
    margin-right: 15px;
  }
}
