*,
::before,
::after {
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: var(--fontfamily-normal);
  letter-spacing: 0.02em;
  background-color: var(--bg-color-blue);
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

.tel-me {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(0.8, 0.5, 0.5, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: heartBeat 5s linear infinite;

  &__please {
    width: 30px;
    height: 30px;
    fill: blue;
  }
}
