:root {
  --fontfamily-raleway: 'Raleway', sans-serif;
  --fontfamily-normal: 'Sarabun', sans-serif;

  /*color  text*/

  --color-txt-green: #42d382;
  --color-txt-dark: #0e0b0b;
  --color-txt-accent: ;

  --bg-color-blue: #3786b7;
  --bg-color-white: #ffffff;
}
